[submodule "static/tools/sudoku"]
	path = static/tools/sudoku
	url = https://github.com/helight/sudoku
[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/helight/hugo-universal-theme
