
{{ if isset .Site.Params.widgets "links" }}
{{ if .Site.Params.widgets.links }}
<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title">{{ i18n "friendslinks" }}</h3>
    </div>
  
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="http://kerneltravel.net/" target="_blank"><i class="fa fa-navicon"></i>LINUX内核之旅开源社区</a></li>
            <li><a href="https://blog.liuts.com/" target="_blank"><i class="fa fa-navicon"></i>刘天斯:运维进行时</a></li>
        </ul>
    </div>
</div>
{{ end }}
{{ end }}
