<div class="panel panel-default sidebar-menu">
    {{ $related := .Site.RegularPages.Related . | first 5 }} {{ with $related }}
    <div class="panel-heading">
     <h3 class="panel-title">相关文章</h3>
    </div>
    <div class="panel-body">
     <ul class="nav nav-pills nav-stacked">
        {{ range . }}
        <li><a href="{{ .RelPermalink }}"><i class="fa fa-link"></i>{{ .Title }}</a></li>
         {{ end }}
     </ul>
    </div>
     {{ end }}
    <!-- google ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1580080557477436"
    crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-1580080557477436"
    data-ad-slot="6403299890"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>